.file-drop-area {
  background-color: #d3d3d3b6;
}

.file-drop-area:hover {
  background-color: #d3d3d3;
}

.upload-icon {
  width: 40px;
  height: 40px;
  font-size: 40px;
}

.file-input {
  cursor: pointer;
  opacity: 0;
}
